.main-container {
	min-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.item {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.header {
	font-size: 5em;
	line-height: 1em;
	text-align: center;
}

.subtitle {
	font-size: 1.6em;
	line-height: 1.2em;
	text-align: center;
	color: #666666
}

.footer-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	font-size: 1em;
	color: #888888
}
